html{
    font-family: 'Poppins-regular', sans-serif;
    font-size: 16px;
}
h1{
    font-family:'Poppins-regular', sans-serif;
    font-size: 40px;
    margin-left: 60px;
}

p{
    display: inline-block;
    height: 300px;
}
#brands{
    color: brown;
    margin-left: 25%;
    margin-top: -70px;
}
p + p{
    margin-left: 10%;
}
.rectangle {
    height: 90vh;
    width: calc(100% - 120px);
    background-color: #555;
    margin: -250px 60px 0px 60px;
    border: brown solid 2px;
}
li{
    margin:10px 0px 0px 60px;
}
h2{
    margin:0px 42% 0px 42%;

}
